{% extends "_base.html" %}
{% set cta_url = reset_url %}
{% set cta_label = 'Choose a new password' %}
{% block title %}Reset your password{% endblock %}
{% block heading %}Reset your password{% endblock %}
{% block content %}
<p style="margin:0 0 16px;">We received a request to reset the password of your CampusHire account.</p>
<p style="margin:0 0 16px;">This link expires in {{ expires_hours or 1 }} hour(s) and can be used once. If you did not ask for this, ignore this e-mail; your password stays unchanged.</p>
{% endblock %}
